<h1>Missions</h1>

<table class="missions table table-striped table-bordered table-white" id="missions-table" data-source="<%= missions_path(format: :json) %>">
  <thead>
    <th>Name</th>
    <th>Cooldown</th>
    <th>Cost</th>
    <th>Duration</th>
    <th>Followers</th>
    <th>Item Level</th>
    <th>Level</th>
    <th>Location</th>
    <th>Mechanic</th>
    <th>Reward</th>
    <th>Abilities</th>
    <th>Flags</th>
  </thead>
  <tbody>
  </tbody>
</table>